<!DOCTYPE html>
<html>

   <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>API Basejump: Timestamp microservice</h1>
         <h3>Part 1 of Free Code Camp Backend Challenges</h3>
         <blockquote class="blockquote">
           <p>User stories:</p>
           <ol>
             <li>I can pass a string as a parameter, and it will check to see whether that string contains either a unix timestamp or a natural language date (example: January 1, 2016)</li>
             <li>If it does, it returns both the Unix timestamp and the natural language form of that date.</li>
             <li>If it does not contain a date or Unix timestamp, it returns null for those properties.</li>
           </ol>
         </blockquote>
        <div class="container-eg">
          <h3>Example usage:</h3>
          <div><code>https://timestamp-microservice-es.glitch.me/December%2015,%202015</code></div>
          <div><code>https://timestamp-microservice-es.glitch.me/1450137600</code></div>
        </div>
        <div class="container-eg">
          <h3>Example output:</h3>
          <div><code>{ "unix": 1450137600, "natural": "December 15, 2015" }</code></div>
        </div>
     </div>
   </body>

</html>
